<% if(theme.aboutme){%>
        <div class="widget">
            <div class="about-me">
                <img src="<%- theme.aboutme.image%>" alt="<%- config.title %>">
                <h2><%- theme.aboutme.author%></h2>
                <p><%- theme.aboutme.words%></p>
            </div>
        </div>
<%}%>


