p {
  word-break: break-all;
}

p a {
  padding-left: 5px;
  padding-right: 5px;
  word-break: break-all;
}

a, span.exturl {
  word-break: break-all;
}

code {
  word-break: break-all;
}

.category-all-page .category-list-item {
  font-size: 1.25em;
}

.post-eof {
  margin: 60px auto 50px;
  width: 50%;
}
